//Index specific styles found here

//Header styles
header {
    @include imgUrl(url('../assets/header-image.jpg'));
}

.flexHeader {
    display: flex;
    margin-bottom: 5rem;
    flex-direction: column;
    justify-content: space-between;
    height: 65rem;
}


nav {
    margin-left: calc(100% / 2);
    margin-top: 3rem;
    ul {
        display: flex;
        margin: 0;
        padding: 0;
        li {
            justify-content: space-between;
            a {
                padding: 0.5rem 2rem;
                margin: 2rem 1rem;
            }
        }
    }
}

li a:hover,
li a:focus {
    border-bottom: 5px $seaGreen solid;
}

.textHeader {
    z-index: 10;
    margin-top: 55rem;
}

h1.home {
    padding-top: 2rem;
}

.imgContainerHome {
    position: absolute;
    right: 0;
    bottom: -20rem;
    border-left: 5rem solid $canary;
    border-top: 5rem solid $canary;
    border-bottom: 5rem solid $canary;
}

//Section One Styles Start Here
//index.html specific styles 

section.sectionOne {
    background-color: $ice;
    height: 80rem;
}

div.flexContainerOne {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: calc(100% / 3);
    width: calc(100% / 3);
    text-align: center;
}

a.findOut {
    margin-top: 2rem;
    padding: 2rem;
    background-color: $seaGreen;
}

.flexContainerOne {
    .wrapper {
        p {
            padding-bottom: 2rem;
        }
    }
}

//Section two styles starting here
.sectionTwo {
    height: 80rem;
    background-color: $white;
}

.flexContainerTwo {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.imgContSectOne {
    flex-basis: 50%;

}

.textBoxRight {
    flex-basis: 50%;
    h3 {
        margin-left: 20rem;
        margin-top: 10rem;
    }
    p, 
    a {
        margin-left: 20rem;
    }
}

.textBoxRight p {
    margin-bottom: 4rem;
}


.imgContSectTwo {
    flex-basis: 50%;
}

.textBoxLeft {
    flex-basis: 50%;
    text-align: right;
    h3 {
        margin-right: 20rem;
        margin-top: 10rem;
    }
    p, 
    a {
        margin-right: 20rem;
    }
}

.textBoxLeft p {
    margin-bottom: 4rem;
}

.readMore {
    background-color: $seaGreen;
    padding: 2rem;
    margin-top: 2rem;
}