$canary: #FDFA69;
$seaGreen: #4CEEA7;
$black: #2C2C2C;
$white: #FAFAFA;
$ice: #EFFDF3;

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    margin: 0 auto;
    max-width: 1300px;
}

footer {
    background-color: $black;
    color: $white;
}

.flexHeader {
    display: flex;
    margin-bottom: 5rem;
    flex-direction: column;
    justify-content: space-between;
    height: 65rem;
}


//The code below applies styling to all the navigation bars across all three pages.

nav {
    margin-left: calc(100% / 2);
    margin-top: 3rem;
    ul {
        display: flex;
        margin: 0;
        padding: 0;
        li {
            justify-content: space-between;
            a {
                padding: 0.5rem 2rem;
                margin: 2rem 1rem;
            }
        }
    }
}

h1 {
    font-size: 30px;
}
