@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  margin: 0 auto;
  max-width: 1300px;
}

footer {
  background-color: #2C2C2C;
  color: #FAFAFA;
}

.flexHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 65rem;
}

nav {
  margin-left: calc(100% / 2);
  margin-top: 3rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul li a {
  padding: 0.5rem 2rem;
  margin: 2rem 1rem;
}

html {
  font-size: 62.5%;
}

p {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  line-height: 3.2rem;
}

button {
  font-family: "Playfair Display", serif;
  letter-spacing: 1px;
}

h1,
h2,
h3,
li,
a,
button {
  text-transform: uppercase;
  font-style: italic;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 13.8rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

.otherTitle {
  font-size: 8rem;
}

h2 {
  font-size: 4.2rem;
}

li,
a,
button {
  font-size: 2rem;
}

nav ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2C2C2C;
  letter-spacing: 1px;
}

a:visited,
a:active {
  color: #2C2C2C;
}

.contactForm {
  background: #FAFAFA;
  padding: 5% 5% 0 5%;
  margin: 5%;
  -webkit-box-shadow: -3rem 3rem #FDFA69;
          box-shadow: -3rem 3rem #FDFA69;
  position: absolute;
  top: -23rem;
  right: 0;
}

form.contactFormGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 9rem 30rem 5rem;
      grid-template-rows: 9rem 30rem 5rem;
  -ms-grid-columns: 30rem 30rem;
      grid-template-columns: 30rem 30rem;
  gap: 1rem;
  width: 100%;
}

.formName {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
}

.formAddress {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
}

button.submit {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3/1/4/3;
  margin-bottom: 2%;
}

form.blogForm {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 9rem 30rem 20rem 5rem;
      grid-template-rows: 9rem 30rem 20rem 5rem;
  -ms-grid-columns: 30rem 30rem;
      grid-template-columns: 30rem 30rem;
  gap: 1.5rem;
  padding-bottom: 5%;
}

.formNameBlog {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
}

.formAddressBlog {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
}

button.submitBlog {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 4/1/5/3;
}

header.headerHome {
  background-image: url("../assets/header-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100%;
  padding-bottom: 8rem;
  position: relative;
}

.textHeader {
  z-index: 10;
  margin-top: 55rem;
}

h1.home {
  padding-top: 2rem;
}

.imgContainerHome {
  position: absolute;
  right: 0;
  bottom: -20rem;
  border-left: 5rem solid #FDFA69;
  border-top: 5rem solid #FDFA69;
  border-bottom: 5rem solid #FDFA69;
}

section.sectionOne {
  background-color: #EFFDF3;
  height: 80rem;
}

div.flexContainerOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: calc(100% / 3);
  width: calc(100% / 3);
  text-align: center;
}

a.findOut {
  margin-top: 2rem;
  padding: 2rem;
  background-color: #4CEEA7;
}

.flexContainerOne .wrapper p {
  padding-bottom: 2rem;
}

.sectionTwo {
  height: 80rem;
  background-color: #FAFAFA;
  position: relative;
}

.gridTwo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 400px;
      grid-template-rows: 400px;
}

.imgContSectOne {
  position: absolute;
  top: -10rem;
  left: -3rem;
  -webkit-box-shadow: 3rem 3rem #FDFA69;
          box-shadow: 3rem 3rem #FDFA69;
}

.imgContSectTwo {
  position: absolute;
  top: 50rem;
  left: 115rem;
  -webkit-box-shadow: -3rem -3rem #FDFA69;
          box-shadow: -3rem -3rem #FDFA69;
}

.textBoxRight {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/-2/span 1;
}

.textBoxRight h3 {
  margin-left: 20rem;
  margin-top: 10rem;
}

.textBoxRight p,
.textBoxRight a {
  margin-left: 20rem;
}

.textBoxRight p {
  margin-bottom: 4rem;
}

.textBoxLeft {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/2/span 1;
  text-align: right;
}

.textBoxLeft h3 {
  margin-right: 20rem;
  margin-top: 10rem;
}

.textBoxLeft p,
.textBoxLeft a {
  margin-right: 20rem;
}

.textBoxLeft p {
  margin-bottom: 4rem;
}

.readMore {
  background-color: #4CEEA7;
  padding: 2rem;
  margin-top: 2rem;
}

.sectionThree {
  padding: 20rem;
}

.gridThree {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 40% 10% 40%;
      grid-template-columns: 10% 40% 10% 40%;
  -ms-grid-rows: 30rem 30rem;
      grid-template-rows: 30rem 30rem;
  gap: 1rem;
}

.gridText1 {
  margin-left: 0;
}

.iconCircle {
  width: 100%;
}

.fas {
  margin-left: 2.5rem;
  font-size: 4rem;
  padding: 15%;
  display: inline;
  background-color: #4CEEA7;
  border-radius: 50%;
}

div.banner {
  height: 50rem;
  background-image: url("../assets/banner.jpg");
  background-size: cover;
}

.section4 {
  padding: 8%;
  background-color: #EFFDF3;
}

.gridBoxTwo p {
  margin-bottom: 69px;
  margin-top: 69px;
}

.imgContFour img {
  margin-left: 0;
  -webkit-box-shadow: 3rem 3rem #FDFA69;
          box-shadow: 3rem 3rem #FDFA69;
}

.gridFour {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  gap: 1rem;
}

.section5 {
  padding: 10% 0;
}

.imageGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer {
  text-align: center;
}

header.blog {
  background-image: url("../assets/blog-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100%;
  padding-bottom: 8rem;
  position: relative;
  position: relative;
}

h1.titleTwo {
  padding-bottom: 20rem;
}

main.blogMain {
  background-color: #EFFDF3;
}

.blogMainFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.articleCommentsFormFlex {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

aside {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

div.asideFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.asideTextBox {
  background-color: #FAFAFA;
  width: 70%;
  padding: 5rem;
  margin-top: 60rem;
  margin-left: 0;
}

.imgContainerBlog {
  position: absolute;
  top: 10rem;
  left: -30rem;
}

div.imgContainerHeader {
  -webkit-box-shadow: -3rem 3rem #FDFA69;
          box-shadow: -3rem 3rem #FDFA69;
  position: absolute;
  right: 0;
  bottom: -30rem;
}

.articleCommentsForm {
  width: 88%;
}

article {
  margin-top: 40%;
  border-left: 8px solid #FDFA69;
  border-bottom: 8px solid #FDFA69;
  padding: 10%;
}

section.comments h2 {
  margin: 10% 0;
}

.commentsGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12rem 50rem;
      grid-template-columns: 12rem 50rem;
  -ms-grid-rows: 10rem 10rem 10rem 10rem;
      grid-template-rows: 10rem 10rem 10rem 10rem;
  gap: 2rem;
}

.userCommentJeremy {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  grid-area: 1/1/span 1;
}

.commentTextBoxJeremy p {
  margin-bottom: 5%;
}

.userCommentJulia {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  grid-area: 3/1/span 1;
}

.commentTextBoxJulia {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  grid-area: 3/2/span 1;
}

.commentTextBoxJulia p {
  margin-bottom: 5%;
}

header.contact {
  background-image: url("../assets/contact-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100%;
  padding-bottom: 8rem;
  position: relative;
  height: 57vh;
}

h1.titleThree {
  margin-bottom: 20%;
  padding-left: 13%;
}

.flexHeaderBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 55rem;
}

main {
  background-color: #EFFDF3;
}

.flexContainerContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.contactInfo {
  width: 25%;
  margin: 10% 0;
}
